<h3>Users</h3>
<ul>
    <li ng-repeat="user in vm.users">
        <section>
            <div>
                {{user.firstName}} {{user.lastName}}
            </div>
            <div>
                {{user.role}}
            </div>
        </section>
        <section>
            <a href="javascript:void();"
               ng-click="vm.edit(user.uniqueId)">Edit</a>
            |
            <a href="javascript:void();"
               ng-click="vm.delete(user.uniqueId)">Delete</a>
        </section>
    </li>
</ul>
<form name="vm.userForm">
    Email: <input type="text" name="email"
                  ng-model="vm.user.email" required />
    <br />
    Password: <input type="password" name="password"
                     ng-model="vm.user.password" required />
    <br />
    First Name: <input type="text" name="firstName"
                       ng-model="vm.user.firstName" required />
    <br />
    Last Name: <input type="text" name="lastName"
                      ng-model="vm.user.lastName" required />
    <br />
    Twitter: @<input type="text" name="twitterUsername"
                     ng-model="vm.user.twitterUsername" />
    <br />
    <button type="submit" ng-click="vm.save()">
        {{vm.user.uniqueId ? 'Save' : 'Create'}}
    </button>
    <button ng-click="vm.cancel()">Cancel</button>
</form>